div{
    border: 2px solid palegreen;
    width: 100px;
    height: 100px;
    margin: 10px;
    display: inline-block;
}
section{
    border: 1px solid greenyellow;
}
#static #middle{
    position: static;
    top: 100px;
    left: 100px;
}