/* h1{
    color: orange;
}
h1:hover{
    color: aquamarine;
}
input{  
    background-color: rgb(0, 21, 40);
}
input:focus{
    background-color:chocolate ;
}

/* a:hover:active{
    color: darkcyan;
    font-size: xx-large;
} */ 
a{
    color: crimson;
}
a:visited{
    color: mediumaquamarine;
}